
/*=============================
	 Google Fonts
===============================*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Vidaloka&display=swap');

/*=============================
	 Variable CSS
===============================*/
:root {
    --tg-body-font-family: 'Montserrat', sans-serif;
    --tg-heading-font-family: 'Vidaloka', serif;
    --tg-primary-color: #f19008;
    --tg-secondary-color: #202020;
    --tg-body-background-color: #FEFFFB;
	--tg-secondary-background: #F9FAF1;
    --tg-body-font-color: #797978;
    --tg-heading-font-color: #202020;
    --tg-paragraph-color: #797978;
	--tg-gradient-color: linear-gradient(180deg, #F9FAF1 0%, #FEFFFB 100%);
    --tg-body-font-size: 15px;
    --tg-body-font-weight: 400;
    --tg-heading-font-weight: 400;
    --tg-body-line-height: 1.86;
    --tg-heading-line-height: 1.2;
    --tg-blue: #0d6efd;
    --tg-indigo: #6610f2;
    --tg-purple: #6f42c1;
    --tg-pink: #d63384;
    --tg-red: #dc3545;
    --tg-orange: #fd7e14;
    --tg-yellow: #ffc107;
    --tg-green: #198754;
    --tg-teal: #20c997;
    --tg-cyan: #0dcaf0;
    --tg-white: #FBFBFB;
    --tg-black: #272727;
    --tg-gray: #E2E2E2;
	--tg-silver: #9B9B9B;
    --facebook: #3b5998;
    --twitter: #00acee;
    --linkedin: #1976d2;
    --pinterest: #3b5998;
    --youtube: #E53935;
    --skype: #00aff0;
	--min-transition: 0.3s;
}
body {
	font-family: var(--tg-body-font-family);
	font-weight: var(--tg-body-font-weight);
	font-size: var(--tg-body-font-size);
	line-height: var(--tg-body-line-height);
	color: var(--tg-body-font-color);
	font-style: normal;
	background-color: var(--tg-body-background-color);
}
img,
.img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}
.f-left {
	float: left
}
.f-right {
	float: right
}
.fix {
	overflow: hidden
}
a,
button {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	text-decoration: none;
}
a:focus,
.btn:focus,
button:focus {
	text-decoration: none;
	outline: none;
	box-shadow: none;
}

a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
	color: var(--tg-primary-color);
	text-decoration: none;
}
a,
button {
	color: var(--tg-primary-color);
	outline: medium none;
	text-decoration: none;
}
.btn:focus,
button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
	outline: 0
}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--tg-heading-font-family);
	color: var(--tg-heading-font-color);
	margin-top: 0px;
	margin-bottom: .7rem;
	font-style: normal;
	line-height: var(--tg-heading-line-height);
	font-weight: var(--tg-heading-font-weight);
	text-transform: inherit;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}
h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.75rem;
}
h4 {
	font-size: 1.5rem;
}
h5 {
	font-size: 1.25rem;
}
h6 {
	font-size: 1rem;
}
.list-wrap {
	margin: 0px;
	padding: 0px;
}
.list-wrap li {
	list-style: none
}
p {
	font-size: var(--tg-body-font-size);
	font-weight: var(--tg-body-font-weight);
	line-height: var(--tg-body-line-height);
	color: var(--tg-paragraph-color);
	margin-bottom: 15px;
}
hr {
	border-bottom: 1px solid var(--tg-primary-color);
	border-top: 0 none;
	margin: 30px 0;
	padding: 0;
}
label {
	color: var(--tg-body-font-color);
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
}
*::-moz-selection {
	background: var(--tg-primary-color);
	color: var(--tg-white);
	text-shadow: none;
}
::-moz-selection {
	background: var(--tg-primary-color);
	color: var(--tg-white);
	text-shadow: none;
}
::selection {
	background: var(--tg-primary-color);
	color: var(--tg-white);
	text-shadow: none;
}
*::-moz-placeholder {
	color: var(--tg-body-font-color);
	font-size: var(--tg-body-font-size);
	opacity: 1;
}
*::placeholder {
	color: var(--tg-body-font-color);
	font-size: var(--tg-body-font-size);
	opacity: 1;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
	box-shadow: none;
	-webkit-box-shadow: none;
	background-color: var(--tg-secondary-background);
	border-radius: 10px;
}
::-webkit-scrollbar,
::-webkit-scrollbar {
	width: 8px;
	background-color: var(--tg-secondary-background);
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background: var(--tg-primary-color);
}
.theme-overlay {
	position: relative
}
.theme-overlay::before {
	background: var(--tg-primary-color) none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.6;
	position: absolute;
	top: 0;
	width: 100%;
}
.separator {
	border-top: 1px solid var(--tg-primary-color);
}
.list-wrap {
	margin: 0px;
	padding: 0px;
}
.list-wrap li {
	list-style: none;
}
.jarallax {
    position: relative;
    z-index: 0;
}
.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Bootstrap 5 */
.container {
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    --bs-gutter-x: 30px;
}
.row.g-0 {
	--bs-gutter-x: 0;
}
.gutter-y-30 {
  	--bs-gutter-y: 30px;
}

/*=============================
	 Button style
===============================*/
.btn {
	user-select: none;
	-moz-user-select: none;
	background: var(--tg-primary-color) none repeat scroll 0 0;
	border: 1.3px solid var(--tg-primary-color);
	border-radius: 8px;
	color: var(--tg-white);
	cursor: pointer;
	display: inline-flex;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.04em;
	line-height: 1rem;
	margin-bottom: 0;
	padding: 19px 38px;
	text-align: center;
	text-transform: uppercase;
	touch-action: manipulation;
	vertical-align: middle;
	white-space: nowrap;
	transition: background .6s cubic-bezier(.55, 0, .1, 1), border .6s cubic-bezier(.55, 0, .1, 1);
}
.btn_m {
	position: relative;
	overflow: hidden;
	height: 1rem;
}
.btn_c {
	transition: transform .6s cubic-bezier(.55, 0, .1, 1);
}
.btn_t1 {
	transform-origin: 100%;
	transition: transform .45s cubic-bezier(.55, 0, .1, 1), color .6s cubic-bezier(.55, 0, .1, 1);
	display: block;
}
.btn_t2 {
	transform-origin: 0;
	transition: transform .45s cubic-bezier(.55, 0, .1, 1), color .6s cubic-bezier(.55, 0, .1, 1);
	display: block;
	transform: rotate(40deg);
}
.btn:hover .btn_c {
	transform: translateY(-1rem);
}
.btn:hover .btn_t1 {
	transform: rotate(40deg);
}
.btn:hover .btn_t2 {
	transform: rotate(0);
}
.btn:hover {
	background: var(--tg-secondary-color);
	border-color: var(--tg-secondary-color);
	color: var(--tg-white);
}
.transparent-btn {
	background: transparent;
	color: var(--tg-primary-color);
}
.transparent-btn:hover {
	border-color: var(--tg-primary-color);
	background: var(--tg-primary-color);
	color: var(--tg-white);
}
.breadcrumb > .active {
	color: var(--tg-primary-color);
}

/* scrollUp */
.scroll-top {
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: fixed;
    bottom: -10%;
    right: 30px;
    font-size: 18px;
    border-radius: 3px;
    z-index: 9;
    color: var(--tg-white);
    text-align: center;
    cursor: pointer;
    background: var(--tg-primary-color);
    transition: 1s ease;
    border: none;
}
.scroll-top.open {
	bottom: 30px;
}
.scroll-top::after {
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 1;
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
}
.scroll-top:hover {
	background: var(--tg-secondary-color);
}


/*=============================
	 Header
===============================*/
.custom-container {
    max-width: 1800px;
}
.custom-container-two {
    max-width: 1640px;
}
.custom-container-three {
	max-width: 1410px;
}
.transparent-header {
	position: absolute;
	left: 0;
	top: 0px;
	width: 100%;
	z-index: 99;
	height: auto;
}
.header-mail a {
	color: var(--tg-white);
	text-decoration: underline;
}
.header-mail a:hover {
	color: var(--tg-primary-color);
}
.header-contact a {
	color: var(--tg-white);
}
.header-contact a:hover {
	color: var(--tg-primary-color);
}
.navbar-wrap {
	display: flex;
	flex-grow: 1;
	align-items: center;
}
.navbar-wrap ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    padding: 0 0;
	margin: 0 0 0 auto;
}
.navbar-wrap .navigation.right {
	margin: 0 auto 0 0;
}
.navbar-wrap ul li {
    list-style: none;
	display: block;
	position: relative;
}
.navbar-wrap ul li a {
	font-size: 14px;
	font-weight: 500;
	color: var(--tg-white);
	padding: 48px 20px;
	display: block;
	line-height: 1;
	position: relative;
	z-index: 1;
	letter-spacing: 0.04em;
	text-transform: uppercase;
}
.navbar-wrap > ul > li.active > a,
.navbar-wrap > ul > li:hover > a {
	color: var(--tg-primary-color);
}
.main-menu .navigation li.menu-item-has-children .dropdown-btn {
    display: none;
}
.header-action > ul {
	display: flex;
	align-items: center;
	margin-left: 10px;
}
.header-action > ul > li {
    position: relative;
    margin-left: 30px;
}
.header-action ul li:first-child {
	margin-left: 0;
}
.header-action ul li a {
	color: var(--tg-heading-font-color);
	font-size: 14px;
}
.header-action .header-btn .btn {
	color: var(--tg-white);
	font-size: 14px;
	padding: 13px 22px;
}
.navbar-wrap ul li .sub-menu {
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	min-width: 220px;
	background: var(--tg-secondary-color);
	margin: 0 0;
	transform: scale(1, 0);
	transform-origin: 0 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 8px;
	padding: 14px 0;
	display: block;
	visibility: hidden;
	opacity: 0;
	z-index: 9;
}
.navbar-wrap ul li .sub-menu .sub-menu {
	right: auto;
	left: 100%;
	top: 0;
}
.navbar-wrap ul li .sub-menu li {
	margin-left: 0;
	text-align: left;
	display: block;
}
.navbar-wrap ul li .sub-menu li a {
	padding: 8px 15px 8px 25px;
	line-height: 1.4;
	font-weight: 500;
	font-size: 15px;
	color: var(--tg-silver);
	text-transform: capitalize;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.navbar-wrap ul li .sub-menu li a:hover,
.navbar-wrap ul li .sub-menu li.active a {
	color: var(--tg-white);
}
.navbar-wrap ul li:hover > .sub-menu {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}
.logo {
	margin: 0 55px;
}
.sticky-menu {
	position: fixed;
	left: 0;
	margin: auto;
	top: 0;
	width: 100%;
	z-index: 99;
	background: var(--tg-body-background-color);
	-webkit-animation: 1000ms ease-in-out 0s normal none 1 running fadeInDown;
	animation: 1000ms ease-in-out 0s normal none 1 running fadeInDown;
	-webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
	box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
	border-radius: 0;
}
#header-fixed-height.active-height {
	display: block;
	height: 110px;
}
.sticky-menu .header-mail a {
	color: var(--tg-primary-color);
}
.sticky-menu .navbar-wrap ul li a {
	color: var(--tg-secondary-color);
}
.sticky-menu .navbar-wrap > ul > li.active > a,
.sticky-menu .navbar-wrap > ul > li:hover > a {
    color: var(--tg-primary-color);
}
.sticky-menu .header-contact a {
	color: var(--tg-primary-color);
}
.sticky-menu .logo {
	display: none;
}
.sticky-menu .logo.d-none {
	display: block !important;
}
.logo.mobile-logo.d-none {
	display: none !important;
}

/* header-two */
.menu-area-two .menu-nav {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}
.header-action .header-contact ul {
	text-align: right;
}
.header-action .header-contact ul li a {
	color: var(--tg-white);
}
.header-action .header-contact ul li:first-child a {
	text-decoration: underline;
}
.sidebar-contact .menu-icon a,
.header-action .icon a {
	width: 56px;
	height: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1.3px solid var(--tg-white);
	border-radius: 8px;
	color: var(--tg-white);
	font-size: 25px;
}
.sidebar-contact .menu-icon a {
    flex-direction: row;
    gap: 5px;
}
.header-action .icon a {
    flex-direction: column;
    gap: 5px;
}
.header-action .icon a > span,
.sidebar-menu-two .menu-icon span {
    height: 2px;
    width: 16px;
    background: var(--tg-white);
    border-radius: 30px;
    transition: .15s linear;
}
.sidebar-menu-two .menu-icon a span:nth-child(2),
.sidebar-menu-two .menu-icon:not(.active) a:hover span,
.header-action .icon:not(.active) a:hover>span,
.header-action .icon a > span:nth-child(2) {
    width: 11px;
    margin-left: 5px;
}
.sidebar-menu-two .menu-icon:not(.active) a:hover> span:nth-child(2),
.header-action .icon:not(.active) a:hover > span:nth-child(2) {
    width: 16px;
    margin-left: 0;
}
.sidebar-menu-two .menu-icon.active a>span,
.header-action .icon.active a>span {
    transform: rotate(45deg);
    margin-bottom: -2px;
}
.sidebar-menu-two .menu-icon.active a>span:nth-child(2),
.header-action .icon.active a>span:nth-child(2) {
    width: 16px;
    margin-left: 0;
    margin-top: -5px;
    transform: rotate(-45deg);
    margin-bottom: 0;
}
.sticky-menu .header-action .header-contact ul li a {
	color: var(--tg-primary-color);
}
.sticky-menu .header-action .icon a {
	border-color: var(--tg-primary-color);
}
.sticky-menu .header-action .icon a>span {
	background: var(--tg-primary-color);
}
.menu-area-two {
	padding: 27px 0px;
}
.menu-area-two.sticky-menu {
	padding: 18px 0px;
}
.burger-menu-visible .menu-area-two.transparent-header.sticky-menu {
    background: linear-gradient(100.72deg, #202020 0.11%, rgba(32, 32, 32, 0.99) 72.41%, #202020 103.32%);
}

/* header-three */
.menu-style-three .navbar-wrap ul li a {
	color: var(--tg-secondary-color);
}
.menu-style-three .navbar-wrap > ul > li.active > a,
.menu-style-three .navbar-wrap > ul > li > a:hover {
	color: var(--tg-primary-color);
}
.menu-style-three .header-contact a {
	color: var(--tg-body-font-color);
}
.menu-style-three .header-contact a:hover {
	color: var(--tg-primary-color);
}
.menu-style-three .navbar-wrap ul {
	margin: 0 auto;
}
.menu-style-three .logo {
	margin: 0;
}
.menu-style-three.sticky-menu .logo {
	display: block;
}
.logo img{
	width: 80px;
}
.fullscreen-menu .offNav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    padding: 40px 0;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    z-index: 99;
}
.fullscreen-menu .nav-height {
    overflow-y: scroll;
    position: relative;
    height: 100%;
    padding: 80px 0;
    padding-right: 30px;
    width: calc(100% + 30px);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fullscreen-menu .nav-height .inner {
    width: 360px;
    text-align: center;
}
.burger-menu-visible {
    overflow: hidden;
}
.burger-menu-visible .fullscreen-menu .offNav {
    background: linear-gradient(100.72deg, #202020 0.11%, rgba(32, 32, 32, 0.99) 72.41%, #202020 103.32%);
    visibility: visible;
    pointer-events: initial;
    opacity: 1;
}
.fullscreen-menu ul {
    margin: 0;
    padding: 0;
}
.side-menu-inner .navigation li,
.fullscreen-menu .navigation li {
    display: block;
    list-style: none;
    position: relative;
}
.side-menu-inner .navigation > li,
.fullscreen-menu .navigation > li {
    top: -20px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
}
.side-menu-inner .navigation > li.is-show,
.fullscreen-menu .navigation > li.is-show {
    visibility: visible;
    opacity: 1;
    top: 0px;
}
.side-menu-inner .navigation > li,
.fullscreen-menu .navigation > li {
    margin-bottom: 10px;
}
.side-menu-inner .navigation > li:last-child,
.fullscreen-menu .navigation > li:last-child {
    margin-bottom: 0;
}
.side-menu-inner .navigation li.menu-item-has-children .sub-menu,
.fullscreen-menu .navigation li.menu-item-has-children .sub-menu {
    display: none;
    margin: 15px 0;
}
.side-menu-inner .navigation li .dropdown-icon,
.fullscreen-menu .navigation li .dropdown-icon {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 100%;
    height: 68px;
}
.fullscreen-menu .navigation li .dropdown-icon.fa-minus {
    color: var(--tg-theme-primary);
}
.fullscreen-menu .navigation li .dropdown-icon.fa-minus.fa-plus {
    color: currentColor;
}
.side-menu-inner .navigation li>a,
.fullscreen-menu .navigation li>a {
    position: relative;
    display: block;
    line-height: 1;
    padding: 10px 40px;
    font-size: 48px;
    font-weight: 500;
    color: var(--tg-white);
    font-family: var(--tg-heading-font-family);
    text-transform: capitalize;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border: none;
    text-transform: uppercase;
}
.side-menu-inner .navigation li.active > a,
.fullscreen-menu .navigation li.active > a {
    color: var(--tg-primary-color);
}
.side-menu-inner .navigation > li .sub-menu li a,
.fullscreen-menu .navigation > li .sub-menu li a {
    font-size: 16px;
    font-family: var(--tg-body-font-family);
    color: var(--tg-silver);
    text-transform: capitalize;
}
.side-menu-inner .navigation>li .sub-menu li.active>a,
.side-menu-inner .navigation>li .sub-menu li:hover > a,
.fullscreen-menu .navigation>li .sub-menu li.active>a,
.fullscreen-menu .navigation>li .sub-menu li:hover > a {
    color: var(--tg-primary-color);
}

/* header-four */
.header-top {
	background: var(--tg-secondary-color);
	padding: 6px 0;
}
.header-top-left p {
	margin-bottom: 0;
	font-size: 14px;
	color: var(--tg-silver);
}
.header-top-right ul {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 40px;
}
.header-top-right ul li a {
	color: var(--tg-silver);
	font-size: 14px;
}
.header-top-right ul li:nth-child(1) a {
	text-decoration: underline;
}
.header-top-right ul li a:hover {
	color: var(--tg-primary-color);
}
.header-style-four .transparent-header {
	top: 40px;
}
.header-style-four .menu-nav {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.header-style-four .logo {
	margin: 0 0;
}
.header-style-four .navbar-wrap > ul > li {
	margin-right: 40px;
}
.header-style-four .navbar-wrap > ul > li:last-child {
	margin-right: 0;
}
.header-style-four .navbar-wrap ul li a {
	padding: 48px 0;
}
.header-style-four .sticky-menu .logo {
	display: block;
}
.header-style-four .transparent-header.sticky-menu {
	top: 0;
}

/* header-five */
.header-style-five .menu-nav {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.header-style-five .header-action > ul {
    margin-left: 60px;
}
.header-style-five .header-action > ul > li {
    margin-left: 40px;
}
.header-social .list-wrap {
	display: flex;
	align-items: center;
	gap: 8px;
}
.header-social .list-wrap li a {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 1.3px solid var(--tg-primary-color);
	color: var(--tg-primary-color);
	font-size: 14px;
}
.header-social .list-wrap li a:hover {
	color: var(--tg-white);
	background: var(--tg-primary-color);
}
.header-style-five .header-action .header-contact a {
	color: var(--tg-body-font-color);
	font-size: 15px;
}
.header-style-five .header-action .header-contact a:hover {
	color: var(--tg-primary-color);
}
.header-style-five .navbar-wrap ul li a {
	color: var(--tg-secondary-color);
}
.header-style-five .navbar-wrap > ul > li > a:hover,
.header-style-five .navbar-wrap > ul > li.active > a {
	color: var(--tg-primary-color);
}
.header-style-five .logo {
	margin: 0;
}
.header-style-five .sticky-menu .logo {
	display: block;
}

/* header-six */
.header-style-six .transparent-header {
	top: 40px;
}
.header-style-six .navbar-wrap ul li a {
	color: var(--tg-secondary-color);
}
.header-style-six .navbar-wrap > ul > li.active > a,
.header-style-six .navbar-wrap > ul > li:hover > a {
    color: var(--tg-primary-color);
}
.header-style-six .sticky-menu .logo {
	display: block;
}
.header-style-six .transparent-header.sticky-menu {
	top: 0;
}
.menu-area-seven {
	background: var(--tg-white);
}
.menu-area-seven .header-action .icon a {
	border: 1.3px solid var(--tg-primary-color);
	color: var(--tg-primary-color);
}
.menu-area-seven .header-action .header-contact ul li a {
	color: var(--tg-primary-color);
}
.menu-area-seven .header-action .icon a span {
    background: var(--tg-primary-color);
}


/* sidebar-menu */
.sidebar-menu {
	display: flex;
	flex-direction: column;
	text-align: center;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 320px;
	z-index: 101;
	padding: 40px 30px;
    overflow-y: auto;
    overflow-x: hidden;
    background: var(--tg-body-background-color);
}
.sidebar-menu::-webkit-scrollbar {
    width: 0;
}
.sidebar-logo {
	margin-bottom: 130px;
}
.sidebar-menu .navbar-wrap ul li a {
	color: var(--tg-secondary-color);
	padding: 8px 0;
}
.sidebar-menu .navbar-wrap ul {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
    width: 100%;
    text-align: center;
}
.sidebar-menu .navbar-wrap ul .sub-menu {
    display: none;
    position: relative;
    transform: scale(1);
    transform-origin: 0 0;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -ms-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    background: transparent;
    text-align: center;
    visibility: visible;
    border-radius: 0;
    min-width: 100%;
    padding: 0 0;
    margin: 18px 0;
    opacity: 1;
}
.sidebar-menu .navbar-wrap ul li {
    margin: 0 0 5px;
    text-align: center;
}
.sidebar-menu .navbar-wrap ul li:last-child {
    margin: 0 0;
}
.sidebar-menu .navbar-wrap ul .sub-menu li {
    text-align: center;
}
.sidebar-menu .navbar-wrap ul li .sub-menu li {
    margin: 0 0 8px;
}
.sidebar-menu .navbar-wrap ul li .sub-menu li:last-child {
    margin: 0 0;
}
.sidebar-menu .navbar-wrap ul li .sub-menu li a {
    padding: 0 0;
    font-size: 14px;
    color: var(--tg-secondary-color);
}
.sidebar-menu .navbar-wrap ul li .sub-menu li.active > a,
.sidebar-menu .navbar-wrap ul li .sub-menu li:hover > a {
    color: var(--tg-primary-color);
}
.sidebar-menu .dropdown-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px;
    cursor: pointer;
    z-index: 1;
}
.sidebar-menu .navbar-wrap {
    flex-grow: 0;
    margin: 0 0 50px;
}
.sidebar-contact {
	margin-top: auto;
}
.sidebar-contact > ul {
	margin-bottom: 25px;
}
.sidebar-contact ul li a {
	font-size: 15px;
	color: var(--tg-body-font-color);
}
.sidebar-contact ul li:first-child a {
	text-decoration: underline;
}
.sidebar-social .list-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}
.sidebar-social .list-wrap li a {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1.5px solid var(--tg-primary-color);
	border-radius: 50%;
	font-size: 14px;
	color: var(--tg-primary-color);
}
.sidebar-social .list-wrap li a:hover {
	background: var(--tg-primary-color);
	color: var(--tg-white);
}
.main-content {
	margin-left: 320px;
}
.side-menu-visible .sidebar-menu {
    transform: translateX(0);
}
.sidebar-menu-backdrop,
.sidebar-backdrop {
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	transition: all 700ms ease;
	-moz-transition: all 700ms ease;
	-webkit-transition: all 700ms ease;
	-ms-transition: all 700ms ease;
	-o-transition: all 700ms ease;
	opacity: 0;
	visibility: hidden;
	background: var(--tg-black);
}
.side-menu-visible .sidebar-backdrop {
	opacity: 0.6;
	visibility: visible;
}

.sidebar-menu-two {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 110px;
	padding: 40px 25px;
	position: fixed;
	left: 0;
	bottom: 0;
	top: 0;
	z-index: 10;
	background: var(--tg-white);
}
.sidebar-menu-two .sidebar-contact {
    display: flex;
    align-items: center;
    transform: rotate(180deg);
    margin-top: 0;
    flex-direction: row-reverse;
    writing-mode: vertical-rl;
}
.sidebar-menu-two .menu-icon {
    margin-top: 40px;
}
.sidebar-menu-two .sidebar-contact .menu-icon a {
	border: 1.3px solid var(--tg-secondary-color);
	color: var(--tg-secondary-color);
}
.sidebar-menu-two .sidebar-contact .menu-icon span {
    background-color: var(--tg-secondary-color);
}
.sidebar-menu-two .sidebar-contact > ul {
    margin-bottom: 0;
    text-align: right;
}
.sidebar-menu-two .sidebar-logo {
	margin-bottom: 40px;
	margin-top: auto;
	transform: rotate(-90deg);
	width: 110px;
}
.main-content-two {
	margin-left: 110px;
}
.side-menu-wrapper {
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0;
    width: 729px;
    padding: 35px 120px 55px;
    transform: translateX(-100%);
    height: 100%;
    display: block;
    background-color: var(--tg-white);
    z-index: 9;
    -webkit-transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.side-menu-wrapper::-webkit-scrollbar {
    width: 0;
}
.side-menu-inner {
    text-align: center;
}
.side-menu-inner ul {
    margin: 0;
    padding: 0;
}
.side-menu-inner li {
    list-style: none;
}
.side-menu-inner .navigation li>a {
    color: var(--tg-heading-font-color);
}
.burger-menu-visible .sidebar-menu-backdrop {
    opacity: .6;
    visibility: visible;
}
.side-menu-wrapper.side-menu-show {
    transform: translateX(0);
}
.sidebar-menu-backdrop {
    z-index: 8;
}

/*=============================
	 Mobile Menu
===============================*/
.nav-outer .mobile-nav-toggler {
	position: relative;
	float: right;
	font-size: 40px;
	line-height: 50px;
	cursor: pointer;
	display: none;
	color: var(--tg-white);
	margin-right: 30px;
	top: 15px;
}
.nav-logo img {
	max-width: 150px;
}
.mobile-menu {
	position: fixed;
	right: 0;
	top: 0;
	width: 300px;
	padding-right: 30px;
	max-width: 100%;
	height: 100%;
	z-index: 99;
	border-radius: 0px;
	transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	-moz-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	-webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	-ms-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86)e;
	-o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	-webkit-transform: translateX(101%);
	-ms-transform: translateX(101%);
	transform: translateX(101%);
}
.mobile-menu .navbar-collapse {
	display: block !important;
}
.mobile-menu .nav-logo {
	position: relative;
	padding: 30px 25px;
	text-align: left;
}
.mobile-menu-visible {
	overflow: hidden;
}
.mobile-menu-visible .mobile-menu {
	-webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}
.mobile-menu .navigation li.active>a:before {
	height: 100%;
}
.menu-backdrop {
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	transition: all 700ms ease;
	-moz-transition: all 700ms ease;
	-webkit-transition: all 700ms ease;
	-ms-transition: all 700ms ease;
	-o-transition: all 700ms ease;
	opacity: 0;
	visibility: hidden;
	background: rgba(0, 0, 0, 0.5);
}
.mobile-menu-visible .menu-backdrop {
	opacity: 1;
	visibility: visible;
}
.mobile-menu .menu-box {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	max-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	background: var(--tg-body-background-color);
	padding: 0px 0px;
	z-index: 5;
	box-shadow: -9px 0 14px 0px rgb(0 0 0 / 6%);
}
.mobile-menu-visible .mobile-menu .menu-box {
	opacity: 1;
	visibility: visible;
}
.mobile-menu .close-btn {
    position: absolute;
    right: 15px;
    top: 28px;
    line-height: 30px;
    width: 35px;
    text-align: center;
    font-size: 20px;
    color: #292b37;
    cursor: pointer;
    z-index: 10;
    -webkit-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    transition: all 0.9s ease;
}
.mobile-menu-visible .mobile-menu .close-btn {
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}
.mobile-menu .navigation {
	position: relative;
	display: block;
	width: 100%;
	float: none;
	margin: 0;
	padding: 0;
}
.mobile-menu .navigation ul {
	padding: 0;
	margin: 0;
}
.mobile-menu .navigation li {
	position: relative;
	display: block;
	border-top: 1px solid rgb(0 0 0 / 10%);
}
.mobile-menu .navigation:last-child {
	border-bottom: 1px solid rgb(0 0 0 / 10%);
}
.mobile-menu .navigation li>ul>li:first-child {
	border-top: 1px solid rgb(0 0 0 / 10%);
}
.mobile-menu .navigation li > a {
    display: block;
    position: relative;
    line-height: 24px;
    padding: 10px 60px 10px 25px;
    font-size: 14px;
    font-weight: 500;
    color: var(--tg-heading-font-color);
    text-transform: uppercase;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border: none;
}
.mobile-menu .navigation li ul li > a {
	font-size: 16px;
	margin-left: 20px;
	text-transform: capitalize;
}
.mobile-menu .navigation li ul li ul li a {
    margin-left: 40px;
}
.mobile-menu .navigation li ul li ul li ul li a {
    margin-left: 60px;
}
.mobile-menu .navigation > li > a:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
    width: 2px;
    background: var(--tg-primary-color);
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.mobile-menu .navigation li.menu-item-has-children .dropdown-btn {
	position: absolute;
	right: 15px;
	top: 6px;
	width: 32px;
	height: 32px;
	text-align: center;
	font-size: 16px;
	line-height: 32px;
	color: var(--tg-white);
	background: var(--tg-primary-color);
	cursor: pointer;
	border-radius: 2px;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	z-index: 5;
}
.mobile-menu .navigation li.menu-item-has-children .dropdown-btn span {
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.mobile-menu .navigation li.menu-item-has-children .dropdown-btn.open span {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.mobile-menu .navigation li > ul,
.mobile-menu .navigation li > ul > li > ul {
	display: none;
}
.mobile-menu .navigation li.active > a {
    color: var(--tg-primary-color);
}
.mobile-menu .social-links ul {
    display: flex;
    position: relative;
    text-align: center;
    padding: 30px 20px 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.mobile-menu .social-links li {
    position: relative;
    display: inline-block;
    margin: 0px 6px 10px;
}
.mobile-menu .social-links li a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	position: relative;
	line-height: 32px;
	font-size: 16px;
	color: var(--tg-heading-font-color);
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	border: 1px solid var(--tg-gray);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}
.mobile-menu .social-links li a:hover {
	border-color: var(--tg-primary-color);
	background: var(--tg-primary-color);
	color: var(--tg-white);
}
.menu-area .mobile-nav-toggler {
	position: relative;
	float: right;
	font-size: 30px;
	cursor: pointer;
	line-height: 1;
	color: var(--tg-primary-color);
	display: none;
	margin-top: 0px;
}








/**********************************/
/********** General CSS ***********/
/**********************************/
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: 'Lato', sans-serif;
    color: #454545;
    font-weight: 400;
    background: #ffffff;
}

a {
    color: #333333;
    font-weight: 400;
    outline: none;
    text-decoration: none;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 15px 0;
    color: #454545;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0 0 15px 0;
    color: #333333;
    font-weight: 700;
    
}

h1 {
    font-weight: 900;
}

img {
    width: 100%;
    height: auto;
}

.credit {
	padding: 30px 15px 0 15px;
	text-align: center;
	font-size: 30px;
	font-weight: 400;
}

.credit a {
	font-weight: 900;
	color: #000000;
	text-decoration: underline;
}



/**********************************/
/***** Layout & Section Title *****/
/**********************************/
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.column {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 576px) {
    .column {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .column {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .column {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

.section-title {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 45px 0 30px 0;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    background: #eeeeee;
}

.section-title h1 {
    color: #f19008;
    font-size: 50px;
    letter-spacing: 5px;
    margin-bottom: 5px;
}

@media(max-width: 767.98px) {
    .section-title h1 {
        font-size: 40px;
        letter-spacing: 3px;
    }
}

@media(max-width: 567.98px) {
    .section-title h1 {
        font-size: 30px;
        letter-spacing: 2px;
    }
}





/**********************************/
/********** Effect #8 CSS *********/
/**********************************/
.effect-8 {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.effect-8 .effect-img {
    position: relative;
    font-size: 0;
    overflow: hidden;
}

.effect-8 .effect-img img {
    position: relative;
    width: 100%;
    height: auto;
    transform: scale(1.2);
    top: -25px;
    transition: .5s;
}

.effect-8:hover .effect-img img {
    top: 0;
}

.effect-8 .effect-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    background: rgba(0, 0, 0, .1);
    transition: .5s;
}

.effect-8 .effect-text h2 {
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 15px;
}

.effect-8 .effect-detail {
    position: relative;
    width: 100%;
    height: 0;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, .5);
    border-top: 3px solid #ffffff;
    overflow: hidden;
    transition: .5s;
}

.effect-8 .effect-text p {
    color: #222222;
    font-size: 16px;
    padding: 0 30px;
    margin: 0;
    opacity: 0;
}

.effect-8 .effect-text:hover .effect-detail {
    height: calc(100% - 45px);
}

.effect-8 .effect-text:hover .effect-detail p {
    opacity: 1;
}

/**********************************/
/********** Effect #7 CSS *********/
/**********************************/
.effect-7 {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.effect-7 .effect-img {
    position: relative;
    font-size: 0;
    overflow: hidden;
}

.effect-7 .effect-img img {
    position: relative;
    width: 100%;
    height: auto;
    transform: scale(1.2);
    left: -35px;
    transition: .5s;
}

.effect-7:hover .effect-img img {
    transform: scale(1.2);
    left: 0;
}

.effect-7 .effect-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, .1);
    transition: .5s;
}

.effect-7 .effect-text h2 {
    position: relative;
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 10px;
    padding-bottom: 15px;
}

.effect-7 .effect-text h2::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 3px;
    left: 0;
    bottom: 0;
    background: #ffffff;
    transition: .5s;
}

.effect-7 .effect-text p {
    position: relative;
    color: #ffffff;
    font-size: 18px;
    margin: 0;
    left: calc(-100% - 30px);
    opacity: 0;
    transition: .5s;
}

.effect-7 .effect-text:hover h2::after {
    width: 100%;
}

.effect-7 .effect-text:hover p {
    left: 0;
    opacity: 1;
}

/**********************************/
/********** Effect #9 CSS *********/
/**********************************/
.effect-9 {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.effect-9 .effect-img {
    position: relative;
    font-size: 0;
    overflow: hidden;
}

.effect-9 .effect-img img {
    position: relative;
    width: 100%;
    height: auto;
    transition: .5s;
}

.effect-9:hover .effect-img img {
    transform: scale(1.2);
}

.effect-9 .effect-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, .1);
    transition: .5s;
}

.effect-9 .effect-text h2 {
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 15px;
}

.effect-9 .effect-detail {
    position: relative;
    width: 80px;
    height: 0;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, .5);
    border-top: 3px solid #ffffff;
    overflow: hidden;
    transition: .5s;
}

.effect-9 .effect-text p {
    color: #222222;
    font-size: 16px;
    padding: 0 30px;
    margin: 0;
    opacity: 0;
    transform: scale(0);
    transition: .5s;
    transition-delay: .2s;
}

.effect-9:hover .effect-detail {
    width: 100%;
    height: calc(100% - 45px);
}

.effect-9:hover .effect-detail p {
    opacity: 1;
    transform: scale(1);
}
/**********************************/
/********** Effect #4 CSS *********/
/**********************************/
.effect-4 {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.effect-4 .effect-img {
    font-size: 0;
    overflow: hidden;
}

.effect-4 .effect-img img {
    width: 100%;
    height: auto;
    transition: all .3s;
}

.effect-4:hover .effect-img img {
    transform: scale(1.2);
}

.effect-4 .effect-text {
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, .5);
    overflow: hidden;
    transition: all .3s ease-in;
    opacity: 0;
}

.effect-4 .effect-text .effect-text-inner {
    position: absolute;
    padding: 15px;
    z-index: 1;
}

.effect-4 .effect-text:before,
.effect-4 .effect-text:after {
    position: absolute;
    display: block;
    width: 100%;
    height: 0;
    content: '';
}

.effect-4 .effect-text:before {
    border-top: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    left: -100%;
    top: 0;
}

.effect-4 .effect-text:after {
    border-bottom: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    left: 100%;
    bottom: 0;
}

@-webkit-keyframes left-up {
    0% {
        left: 100%;
        height: 0;
    }
    50% {
        left: 0;
        height: 0;
    }
    100% {
        height: 100%;
        left: 0;
    }
}

@-webkit-keyframes right-dn {
    0% {
        left: -100%;
        height: 0;
    }
    50% {
        left: 0;
        height: 0;
    }
    100% {
        height: 100%;
        left: 0;
    }
}

.effect-4:hover .effect-text{
    opacity: 1;
}

.effect-4:hover .effect-text:after,
.effect-4:hover .effect-text:before {
    animation-delay: .1s;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards
}

.effect-4:hover .effect-text:after {
    animation-name: left-up;
}

.effect-4:hover .effect-text:before {
    animation-name: right-dn;
}

.effect-4 .effect-text h2 {
    height: 45px;
    color: #ffffff;
    font-size: 25px;
    margin: 0;
}

.effect-4 .effect-text p {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 20px;
}


.effect-4 .effect-btn .btn {
    display: inline-block;
    height: 35px;
    padding: 7px 15px;
    color: #333333;
    background: #ffffff;
}
